flows.json
[{"id":"1dde00b1.26f74f","type":"tab","label":"Master","disabled":false,"info":""},{"id":"9ebdd78f.d71f88","type":"telegram receiver","z":"1dde00b1.26f74f","name":"InfoVaccine","bot":"578436b5.ac3598","saveDataDir":"","filterCommands":false,"x":70,"y":1740,"wires":[["6ecd6ef0.f44b6"],[]]},{"id":"6ecd6ef0.f44b6","type":"function","z":"1dde00b1.26f74f","name":"get_telegram_params","func":"msg.telegram_params = {\n  chatId : msg.payload.chatId,\n  type : msg.payload.type,\n  content : msg.payload.content,\n  messageId : msg.payload.messageId,\n  original : msg.originalMessage, \n  name : msg.originalMessage.from.first_name, \n  is_bot :  msg.originalMessage.from.is_bot, \n  language_ : msg.originalMessage.from.language_code,\n  weblink : msg.payload.weblink\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1680,"wires":[["712962f0.37f2ac"]]},{"id":"2a23cd71.c571d2","type":"Db2 out","z":"1dde00b1.26f74f","Db2":"","service":"Db2-d8","table":"USERSCOVID","name":"Usuarios","x":1000,"y":1460,"wires":[]},{"id":"ce15ccee.13e0c","type":"function","z":"1dde00b1.26f74f","name":"","func":"var inject = msg.telegram_params\n\nmsg.payload={\n    IDTELEGRAM: inject.chatId,\n    NOMBRE: inject.name,\n    IDIOMA: inject.language_,\n    REGION: null\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1460,"wires":[["2a23cd71.c571d2","ef716a0.540be98"]]},{"id":"39586452.37903c","type":"switch","z":"1dde00b1.26f74f","name":"check_init","property":"telegram_params.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1580,"wires":[["ce15ccee.13e0c"],["97f23620.b43238"]]},{"id":"712962f0.37f2ac","type":"switch","z":"1dde00b1.26f74f","name":"is_message","property":"telegram_params.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":1680,"wires":[["39586452.37903c"],["82f81718.bd2c28"],["dc3cc1b5.c93ab"]]},{"id":"308b1e6e.244782","type":"function","z":"1dde00b1.26f74f","name":"msg.payload = msg.telegram_params.content","func":"msg.payload = msg.telegram_params.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":1640,"wires":[["916e4899.cb4c58"]]},{"id":"916e4899.cb4c58","type":"switch","z":"1dde00b1.26f74f","name":"language","property":"telegram_params.language_","propertyType":"msg","rules":[{"t":"cont","v":"en","vt":"str"},{"t":"cont","v":"es","vt":"str"},{"t":"cont","v":"it","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1740,"y":1640,"wires":[["a2e28c98.c321d"],["c56dae5c.e9e23"],["5e4a582f.c45488"],["a9ce15e.7d013e8"]]},{"id":"18dddfa2.0bbb6","type":"dashDB in","z":"1dde00b1.26f74f","dashDB":"","service":"Db2-d8","query":"","params":"","name":"get_idioma","x":950,"y":1640,"wires":[["3d53e705.4dbd88"]]},{"id":"97f23620.b43238","type":"function","z":"1dde00b1.26f74f","name":"","func":"var inject = msg\n\nmsg.payload = \"SELECT IDIOMA FROM USERSCOVID WHERE IDTELEGRAM = \"+msg.telegram_params.chatId\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1640,"wires":[["18dddfa2.0bbb6"]]},{"id":"3d53e705.4dbd88","type":"function","z":"1dde00b1.26f74f","name":"","func":"var inject = msg\n\nmsg.telegram_params.language_ = msg.payload.IDIOMA\nmsg.payload = null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1640,"wires":[["308b1e6e.244782"]]},{"id":"c56dae5c.e9e23","type":"watson-translator","z":"1dde00b1.26f74f","name":"Español - Ingles","action":"translate","basemodel":"ar-en","domain":"general","srclang":"es","destlang":"en","password":"KWEPfK92pFVkb9e","apikey":"oDnn8D9-vrbl_CHLmajoWo4t4LrH7NiWLLuUT-Kaalh0","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/2155d398-4449-49ca-9c3f-7d26ad274560","x":1980,"y":1800,"wires":[["a2e28c98.c321d"]]},{"id":"5da6ff3a.83fe2","type":"function","z":"1dde00b1.26f74f","name":"set_telegram_params","func":"msg.payload = {\n  chatId : msg.telegram_params.chatId,\n  type : \"message\",\n  content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3000,"y":1980,"wires":[["687208ba.eefca8"]]},{"id":"a2e28c98.c321d","type":"watson-assistant-v2","z":"1dde00b1.26f74f","name":"AssistantBot","service-endpoint":"","assistant_id":"f0bb2d76-5bdb-433f-ba82-014bb48df44c","debug":true,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":2250,"y":1640,"wires":[["39b80d1a.e30002"]]},{"id":"165487d3.0ac368","type":"watson-translator","z":"1dde00b1.26f74f","name":"Ingles - Español","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"KWEPfK92pFVkb9e","apikey":"oDnn8D9-vrbl_CHLmajoWo4t4LrH7NiWLLuUT-Kaalh0","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/2155d398-4449-49ca-9c3f-7d26ad274560","x":2680,"y":2000,"wires":[["5da6ff3a.83fe2"]]},{"id":"39b80d1a.e30002","type":"function","z":"1dde00b1.26f74f","name":"msg.payload = msg.telegram_params.content","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":1800,"wires":[["9e1a4764.4f9a58"]]},{"id":"9e1a4764.4f9a58","type":"switch","z":"1dde00b1.26f74f","name":"language","property":"telegram_params.language_","propertyType":"msg","rules":[{"t":"cont","v":"en","vt":"str"},{"t":"cont","v":"es","vt":"str"},{"t":"cont","v":"it","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2440,"y":1940,"wires":[["5da6ff3a.83fe2"],["165487d3.0ac368"],["d7c174e0.ef1958"]]},{"id":"d7c174e0.ef1958","type":"watson-translator","z":"1dde00b1.26f74f","name":"Ingles - Italiano","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"it","password":"KWEPfK92pFVkb9e","apikey":"oDnn8D9-vrbl_CHLmajoWo4t4LrH7NiWLLuUT-Kaalh0","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/2155d398-4449-49ca-9c3f-7d26ad274560","x":2680,"y":2040,"wires":[["5da6ff3a.83fe2"]]},{"id":"5e4a582f.c45488","type":"watson-translator","z":"1dde00b1.26f74f","name":"Italiano - Ingles","action":"translate","basemodel":"ar-en","domain":"general","srclang":"it","destlang":"en","password":"KWEPfK92pFVkb9e","apikey":"oDnn8D9-vrbl_CHLmajoWo4t4LrH7NiWLLuUT-Kaalh0","custom":"","domainhidden":"general","srclanghidden":"it","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/2155d398-4449-49ca-9c3f-7d26ad274560","x":1980,"y":1860,"wires":[["a2e28c98.c321d"]]},{"id":"687208ba.eefca8","type":"telegram sender","z":"1dde00b1.26f74f","name":"","bot":"578436b5.ac3598","x":3130,"y":2340,"wires":[[]]},{"id":"a9ce15e.7d013e8","type":"function","z":"1dde00b1.26f74f","name":"set_telegram_params","func":"msg.payload = {\n  chatId : msg.telegram_params.chatId,\n  type : \"message\",\n  content : \"Sorry, your language is not supported yet.\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":1960,"wires":[["687208ba.eefca8"]]},{"id":"58393b53.ec7be4","type":"watson-speech-to-text","z":"1dde00b1.26f74f","name":"spanish","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Y-Nk#j@Fz!5$WYa","apikey":"hEF7JorWc_xARIvAB8ngGllDpfNqPYMtNFbUIeHoFsVS","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/1028955e-180c-42c3-a318-d7a1a090e60f","x":1760,"y":1760,"wires":[["c56dae5c.e9e23"]]},{"id":"bb4e6b6.50cc198","type":"function","z":"1dde00b1.26f74f","name":"msg.payload = msg.payload.weblink","func":"msg.payload = msg.telegram_params.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1740,"wires":[["63007a61.b81c04"]]},{"id":"63007a61.b81c04","type":"switch","z":"1dde00b1.26f74f","name":"language","property":"telegram_params.language_","propertyType":"msg","rules":[{"t":"cont","v":"en","vt":"str"},{"t":"cont","v":"es","vt":"str"},{"t":"cont","v":"it","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1560,"y":1740,"wires":[["b5f0b7d7.746b88"],["58393b53.ec7be4"],["3d65ccac.6562a4"],["a9ce15e.7d013e8"]]},{"id":"3d65ccac.6562a4","type":"watson-speech-to-text","z":"1dde00b1.26f74f","name":"italian","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"it-IT","langhidden":"it-IT","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Y-Nk#j@Fz!5$WYa","apikey":"hEF7JorWc_xARIvAB8ngGllDpfNqPYMtNFbUIeHoFsVS","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/1028955e-180c-42c3-a318-d7a1a090e60f","x":1770,"y":1800,"wires":[["5e4a582f.c45488"]]},{"id":"b5f0b7d7.746b88","type":"watson-speech-to-text","z":"1dde00b1.26f74f","name":"english","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Y-Nk#j@Fz!5$WYa","apikey":"hEF7JorWc_xARIvAB8ngGllDpfNqPYMtNFbUIeHoFsVS","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/1028955e-180c-42c3-a318-d7a1a090e60f","x":1740,"y":1720,"wires":[["a2e28c98.c321d"]]},{"id":"1b8f2527.18a54b","type":"dashDB in","z":"1dde00b1.26f74f","dashDB":"","service":"Db2-d8","query":"","params":"","name":"get_idioma","x":870,"y":1740,"wires":[["15572777.3c6e49"]]},{"id":"15572777.3c6e49","type":"function","z":"1dde00b1.26f74f","name":"","func":"var inject = msg\n\nmsg.telegram_params.language_ = msg.payload.IDIOMA\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1740,"wires":[["bb4e6b6.50cc198"]]},{"id":"82f81718.bd2c28","type":"function","z":"1dde00b1.26f74f","name":"","func":"var inject = msg\n\nmsg.payload = \"SELECT IDIOMA FROM USERSCOVID WHERE IDTELEGRAM = \"+msg.telegram_params.chatId\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1740,"wires":[["1b8f2527.18a54b"]]},{"id":"dc3cc1b5.c93ab","type":"function","z":"1dde00b1.26f74f","name":"set_telegram_params","func":"msg.payload = {\n  chatId : msg.telegram_params.chatId,\n  type : \"message\",\n  content : \"esto todavía no lo manejamos. \"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1840,"wires":[["6e1c7343.8e909c"]]},{"id":"ef716a0.540be98","type":"function","z":"1dde00b1.26f74f","name":"set_telegram_params","func":"msg.payload = {\n  chatId : msg.telegram_params.chatId,\n  type : \"message\",\n  content : \"Welcome / Bienvenido / Benvenuto  \"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1400,"wires":[["40ad4eb.b316eb"]]},{"id":"40ad4eb.b316eb","type":"link out","z":"1dde00b1.26f74f","name":"","links":["cb6896a1.4ce4a8"],"x":1195,"y":1400,"wires":[]},{"id":"cb6896a1.4ce4a8","type":"link in","z":"1dde00b1.26f74f","name":"","links":["40ad4eb.b316eb","6e1c7343.8e909c"],"x":2775,"y":2360,"wires":[["687208ba.eefca8"]]},{"id":"6e1c7343.8e909c","type":"link out","z":"1dde00b1.26f74f","name":"","links":["cb6896a1.4ce4a8"],"x":915,"y":1840,"wires":[]},{"id":"578436b5.ac3598","type":"telegram bot","z":"","botname":"InfoVaccine","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]